body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR (DESKTOP) */
.sidebar {
  min-width: 250px;
  width: 220px;
  background: #1f2937;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  font-size: 20px !important;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #374151;
  color: white;
  text-align: left;
  border-radius: 5px;
}

.sidebar button:hover {
  background: #4b5563;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  background: #f3f4f6;
}

/* LOGOUT */
.logout {
  margin-top: auto;
  background: #ef4444 !important;
}

.actions button {
    font-size: 1rem;
}


/* MOBILE */
@media (max-width: 768px) {

  .layout {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    width: 100%;
  }

  .sidebar.active {
    display: flex;
  }


.sidebar button {
    font-size: 18px;
    padding: 14px;
  }



  .main {
    width: 100%;
  }

 .actions button {
        font-size: 1.1rem;
    }

  .menu-btn {
    display: block;
  }
}